.DS_Store
.gitignore
node_modules
public
prof
tsconfig.tsbuildinfo
.obsidian
.quartz-cache
private/
.replit
replit.nix
.trash/
*.tmp
.tmp.driveupload/
booknotes/
projects/
random notes/
content/booknotes/
content/projects/
content/random notes/
